{% load static %}
<!--FAVICON      -->
    <link rel="shortcut icon" href="{% static "aushadha_ui/images/AuShadha_logo/AuShadha_logo_16.png" %}" type="image/x-icon" /> 


<!-- Dojo and related library CSS     -->
    <link rel="stylesheet" 
	  href="{% static "aushadha_ui/js/dojo/resources/dojo.css" %}"
	      type="text/css" />

    <link rel="stylesheet" 
	  href="{% static "aushadha_ui/js/dijit/themes/claro/claro.css" %}" 
	  type="text/css" />
    
    <link rel="stylesheet" 
	  href="{% static "aushadha_ui/js/dojox/grid/resources/Grid.css" %}"
	  type="text/css" />
    
    <link rel="stylesheet" 
	  href="{% static "aushadha_ui/js/dojox/grid/resources/claroGrid.css" %}"
	      type="text/css" />

    <link rel="stylesheet"
	  href="{% static "aushadha_ui/js/dojox/widget/Portlet/Portlet.css" %}"
        type="text/css" />

    <link rel="stylesheet"
	  href="{% static "aushadha_ui/js/dojox/layout/resources/GridContainer.css" %}"
        type="text/css" />

    <link rel="stylesheet"
	  href="{% static "aushadha_ui/js/dojox/layout/resources/DndGridContainer.css" %}"
        type="text/css" />
        
    <link rel="stylesheet"
	  href="{% static "aushadha_ui/js/dojox/widget/Calendar/Calendar.css" %}"
        type="text/css" />

    <link rel="stylesheet"
	  href="{% static "aushadha_ui/js/dojox/layout/resources/ExpandoPane.css" %}"
        type="text/css" />

    <link rel="stylesheet"
	  href="{% static "aushadha_ui/js/dojox/widget/Toaster/Toaster.css" %}"
          type="text/css" />

    <link rel="stylesheet"
	  href="{% static "aushadha_ui/js/dojox/layout/resources/FloatingPane.css" %}"
          type="text/css" />
    
    <link rel="stylesheet"
	  href="{% static "aushadha_ui/js/dojox/layout/resources/ResizeHandle.css" %}"
          type="text/css" />


<!-- Custom Stylesheets. -->
  <!-- 
    Because the current stylesheet style.css requires Django template substitution it has been included as
    inline style at base.html 
    Any custom styles can be inserted below.
  -->

  <!--    <link rel="stylesheet" -->
	  <!--	      href="{% static "custom/styles/style.css"  %}"-->
  <!--	      type="text/css" />-->

<!-- End of custom styles -->

